     
  <div class="jumbotron news col-sm-4">
    <h2 style="text-align: center;">News</h2>
    {% if site.news != blank -%} 
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {%- assign news = site.news | reverse -%} 
      {% for item in news limit: site.news_limit %} 
        {% if item.visible == true %}
          <tr>
            <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
            <td>
              {% if item.inline -%} 
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {%- else -%} 
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {%- endif %} 
            </td>
          </tr>
        {%- endif %} 
      {%- endfor %} 
      </table>
    </div>
    <h5><a href="{{ site.url }}{{ site.baseurl }}/allnews">... see all News</a></h5>
    {%- else -%} 
      <p>No news so far...</p>
    {%- endif %}             
  </div>
